 html,
 body {
   height: 100%;
 }

 body {
   background: #155111;
   background: -webkit-linear-gradient(to right, #155111, #155111);
   background: linear-gradient(180deg, rgba(21, 81, 17, 1) 0%, rgba(21, 81, 17, 0.76234243697479) 25%, rgba(255, 255, 255, 1) 100%);
   color: white;
   display: flex;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
 }

 .form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
   color: #155111;
   border: 4px solid #086E40;
   border-radius: 25px;
 }

 .form-signin .checkbox {
   font-weight: 400;
 }

 .form-signin .form-floating:focus-within {
   z-index: 2;
 }

 .form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }

 .form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }